a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

body {
    overflowX: hidden;
    background-color: #0a192f;
    background-image: url("./images/background/blackgrit-6a2d636a530802d3ce97afb7af53a84b.png");
    background-size: 30%;
}

.typewriterCursor {
    display: none;
}

#main {
    transition: filter 250ms ease;
    position: relative;
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    backdrop-filter: blur(5px) brightness(0.8);
}

.blur {
    filter: blur(5px) brightness(0.7);
}

.stopScroll {
    height: 100%;
    overflow: hidden;
}
